# Unsupervised Learning Trading Strategy

* Download/Load SP500 stocks prices data.
* Calculate different features and indicators on each stock.
* Aggregate on monthly level and filter top 150 most liquid stocks.
* Calculate Monthly Returns for different time-horizons.
* Download Fama-French Factors and Calculate Rolling Factor Betas.
* For each month fit a K-Means Clustering Algorithm to group similar assets based on their features.
* For each month select assets based on the cluster and form a portfolio based on Efficient Frontier max sharpe ratio optimization.
* Visualize Portfolio returns and compare to SP500 returns.

In [6]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()

# only symbols in sp500
symbols_list

# 2015-09-29 - 2023-09-26 sp500 stocks price data
end_date = '2023-09-27'

start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date,
                 auto_adjust=False).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%***********************]  503 of 503 completed

4 Failed downloads:
['GEV', 'SW', 'VLTO', 'SOLV']: YFPricesMissingError('possibly delisted; no price data found  (1d 2015-09-29 00:00:00 -> 2023-09-27) (Yahoo error = "Data doesn\'t exist for startDate = 1443499200, endDate = 1695787200")')

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.251013   33.740002   34.060001   33.240002   33.360001
           AAPL     24.568560   27.264999   28.377501   26.965000   28.207500
           ABBV     35.061218   52.790001   54.189999   51.880001   53.099998
           ABT      32.820751   39.500000   40.150002   39.029999   39.259998
           ACGL     23.217773   24.416668   24.456667   24.100000   24.170000
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      87.981155   89.519997   90.849998   89.500000   90.379997
           YUM     120.448662  124.010002  124.739998  123.449997  124.239998
           ZBH     110.800163  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     173.604675  176.869995  178.449997  176.270004  176.580002

Price                   volume
date       ticker
2015-09-29 A         2252400.0
           AAPL    293461600.0
           ABBV     12842800.0
           ABT      12287500.0
           ACGL      1888800.0
...                        ...
2023-09-26 XYL       1322400.0
           YUM       1500600.0
           ZBH       3610500.0
           ZBRA       355400.0
           ZTS       1463200.0

[981812 rows x 6 columns]

## 2. Calculate features and technical indicators for each stock.

* Garman-Klass Volatility
* RSI
* Bollinger Bands
* ATR
* MACD
* Dollar Volume

\begin{equation}
\text{Garman-Klass Volatility} = \frac{(\ln(\text{High}) - \ln(\text{Low}))^2}{2} - (2\ln(2) - 1)(\ln(\text{Adj Close}) - \ln(\text{Open}))^2
\end{equation}

In [7]:
df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

# (level=1) -> ticker
df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

# 'bb_low, mid, high': Low, mid, high Bollinger Bands
df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])

df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])

df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14)
    return atr.sub(atr.mean()).div(atr.std())

df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.251013   33.740002   34.060001   33.240002   33.360001
           AAPL     24.568560   27.264999   28.377501   26.965000   28.207500
           ABBV     35.061218   52.790001   54.189999   51.880001   53.099998
           ABT      32.820751   39.500000   40.150002   39.029999   39.259998
           ACGL     23.217773   24.416668   24.456667   24.100000   24.170000
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      87.981155   89.519997   90.849998   89.500000   90.379997
           YUM     120.448662  124.010002  124.739998  123.449997  124.239998
           ZBH     110.800163  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     173.604675  176.869995  178.449997  176.270004  176.580002

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2015-09-29 A         2252400.0         -0.001351        NaN       NaN
           AAPL    293461600.0         -0.006066        NaN       NaN
           ABBV     12842800.0         -0.065607        NaN       NaN
           ABT      12287500.0         -0.011997        NaN       NaN
           ACGL      1888800.0         -0.000516        NaN       NaN
...                        ...               ...        ...       ...
2023-09-26 XYL       1322400.0         -0.000167  26.146772  4.477311
           YUM       1500600.0         -0.000317  36.057151  4.797300
           ZBH       3610500.0         -0.000229  31.893238  4.739333
           ZBRA       355400.0          0.000133  29.494977  5.400991
           ZTS       1463200.0         -0.000036  42.623462  5.145043

Price                bb_mid   bb_high       atr      macd  dollar_volume
date       ticker
2015-09-29 A            NaN       NaN       NaN       NaN      70.389781
           AAPL         NaN       NaN       NaN       NaN    7209.928824
           ABBV         NaN       NaN       NaN       NaN     450.284214
           ABT          NaN       NaN       NaN       NaN     403.284980
           ACGL         NaN       NaN       NaN       NaN      43.853730
...                     ...       ...       ...       ...            ...
2023-09-26 XYL     4.559227  4.641143  0.033800 -2.159189     116.346280
           YUM     4.827262  4.857224  0.142547 -1.363696     180.745262
           ZBH     4.778997  4.818662 -0.381708 -0.881067     400.043989
           ZBRA    5.539167  5.677342 -0.057389 -1.600791      79.595386
           ZTS     5.203852  5.262662  0.651515 -1.188279     254.018361

[981812 rows x 14 columns]

## 3. Aggregate to monthly level and filter top 150 most liquid stocks for each month.

* To reduce training time and experiment with features and strategies, we convert the business-daily data to month-end frequency.

In [33]:
last_cols = [c for c in df.columns.unique(0) if c not in ['dollar_volume', 'volume', 'open', 'high', 'low', 'close']]

data = (pd.concat([df.unstack('ticker')['dollar_volume'].resample('M').mean().stack('ticker').to_frame('dollar_volume'),
           df.unstack()[last_cols].resample('M').last().stack('ticker')],
           axis=1)).dropna()
data

                   dollar_volume   adj close  garman_klass_vol        rsi  \
date       ticker
2015-11-30 A          134.988349   38.734959         -0.002430  73.421538
           AAPL      4010.505158   26.764187         -0.003555  55.537369
           ABBV       325.730926   38.977570         -0.070930  49.376860
           ABT        207.499328   37.540985         -0.013992  56.962428
           ACGL        28.174423   22.970539         -0.001121  35.682522
...                          ...         ...               ...        ...
2023-09-30 ABNB      1633.500725  132.279999          0.000213  44.494127
           EXE        117.284936   79.682205         -0.000219  44.326477
           CEG        195.631102  107.292046         -0.000021  55.245475
           GEHC       212.040138   66.056786          0.000184  40.922331
           KVUE       652.144700   19.449688         -0.001094  35.706321

                     bb_low    bb_mid   bb_high       atr      macd
date       ticker
2015-11-30 A       3.538792  3.611226  3.683660 -1.033887  0.567158
           AAPL    3.278450  3.321756  3.365063 -0.967900 -0.142789
           ABBV    3.691885  3.740093  3.788301 -0.526809  0.145676
           ABT     3.636725  3.658567  3.680410 -1.064842  0.335557
           ACGL    3.177974  3.195190  3.212406 -1.155694 -0.550166
...                     ...       ...       ...       ...       ...
2023-09-30 ABNB    4.857047  4.940924  5.024801 -1.006939 -0.037854
           EXE     4.374482  4.427993  4.481505 -1.067686 -0.831788
           CEG     4.646899  4.687070  4.727242 -0.436215  0.366876
           GEHC    4.154342  4.211877  4.269412 -0.893478 -1.116463
           KVUE    2.987464  3.062313  3.137163 -0.899746 -1.435620

[46357 rows x 9 columns]

* Calculate 5-year rolling average of dollar volume for each stocks before filtering.

In [34]:
data['dollar_volume'] = (data.loc[:, 'dollar_volume'].unstack('ticker').rolling(5*12, min_periods=12).mean().stack())

data['dollar_vol_rank'] = (data.groupby('date')['dollar_volume'].rank(ascending=False))

data = data[data['dollar_vol_rank']<150].drop(['dollar_volume', 'dollar_vol_rank'], axis=1)

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-10-31 AAPL     26.124668         -0.002681  49.891046  3.291006
           ABBV     38.834370         -0.056807  27.477629  3.718614
           ABT      33.619495         -0.009785  38.008902  3.535355
           ACN     101.760162         -0.006263  53.823688  4.619889
           ADBE    107.510002          0.000059  53.668389  4.679513
...                       ...               ...        ...       ...
2023-09-30 UBER     44.270000          0.000441  45.005268  3.806654
           CRWD    160.479996          0.000144  51.534803  5.026187
           PLTR     13.960000          0.000214  41.544692  2.701939
           DASH     74.580002          0.000326  36.955365  4.329191
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd
date       ticker
2016-10-31 AAPL    3.319883  3.348759 -1.038688 -0.195978
           ABBV    3.772733  3.826853 -0.893132 -0.760594
           ABT     3.585802  3.636249 -1.035224 -0.650889
           ACN     4.631524  4.643160 -0.996806 -0.135456
           ADBE    4.694639  4.709766 -1.230331 -0.109039
...                     ...       ...       ...       ...
2023-09-30 UBER    3.862227  3.917801 -0.746098 -0.133973
           CRWD    5.103696  5.181204 -0.744862  0.245950
           PLTR    2.779743  2.857548 -0.426167 -0.433581
           DASH    4.403906  4.478620 -1.145418 -0.117919
           ABNB    4.940924  5.024801 -1.006939 -0.037854

[12516 rows x 8 columns]

## 4. Calculate Monthly Returns for different time horizons as features.

* To capture time series dynamics that reflect, for example, momentum patterns, we compute historical returns using the method .pct_change(lag), that is, returns over various monthly periods as identified by lags.

In [ ]:
def calculate_returns(df):

    outlier_cutoff = 0.005

    # Month
    lags = [1, 2, 3, 6, 9, 12]

    for lag in lags:
        df[f'return_{lag}m'] = (df['adj close']
                            .pct_change(lag)
                            .pipe(lambda x: x.clip(lower=x.quantile(outlier_cutoff),
                                                   upper=x.quantile(1-outlier_cutoff)))
                            .add(1)
                            .pow(1/lag)
                            .sub(1))
    return df

data = data.groupby(level=1, group_keys=False).apply(calculate_returns).dropna()

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2017-10-31 AAPL     39.580868         -0.001203  69.196693  3.591467
           ABBV     65.125313         -0.042703  55.247882  4.161565
           ABT      47.540337         -0.007128  53.844904  3.873128
           ACN     127.138962         -0.005423  69.365201  4.785195
           ADBE    175.160004          0.000067  70.089317  4.951759
...                       ...               ...        ...       ...
2023-09-30 UBER     44.270000          0.000441  45.005268  3.806654
           CRWD    160.479996          0.000144  51.534803  5.026187
           PLTR     13.960000          0.000214  41.544692  2.701939
           DASH     74.580002          0.000326  36.955365  4.329191
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd  return_1m  \
date       ticker
2017-10-31 AAPL    3.638335  3.685204 -0.906642 -0.039276   0.096808
           ABBV    4.207901  4.254238  0.375557  0.473813   0.022728
           ABT     3.896688  3.920248 -1.040044  0.276132   0.021275
           ACN     4.824869  4.864543 -0.986514  0.352341   0.064180
           ADBE    5.089292  5.226825 -0.888269  0.612102   0.174152
...                     ...       ...       ...       ...        ...
2023-09-30 UBER    3.862227  3.917801 -0.746098 -0.133973  -0.062672
           CRWD    5.103696  5.181204 -0.744862  0.245950  -0.015641
           PLTR    2.779743  2.857548 -0.426167 -0.433581  -0.068091
           DASH    4.403906  4.478620 -1.145418 -0.117919  -0.113515
           ABNB    4.940924  5.024801 -1.006939 -0.037854   0.005549

                   return_2m  return_3m  return_6m  return_9m  return_12m
date       ticker
2017-10-31 AAPL     0.015250   0.044955   0.028875   0.038941    0.035228
           ABBV     0.098590   0.091379   0.056495   0.047273    0.044026
           ABT      0.034308   0.034801   0.038672   0.031320    0.029294
           ACN      0.048454   0.037203   0.028692   0.027398    0.018728
           ADBE     0.062497   0.061392   0.045993   0.049515    0.041515
...                      ...        ...        ...        ...         ...
2023-09-30 UBER    -0.053920   0.008422   0.057244   0.066838    0.043691
           CRWD    -0.003656   0.029981   0.026391   0.047942   -0.002216
           PLTR    -0.161174  -0.030723   0.087272   0.090143    0.046083
           DASH    -0.093658  -0.008091   0.027006   0.048207    0.034568
           ABNB    -0.067704   0.010603   0.010289   0.049124    0.019401

[10343 rows x 14 columns]

In [36]:
factor_data = web.DataReader('F-F_Research_Data_5_Factors_2x3',
               'famafrench',
               start='2010')[0].drop('RF', axis=1)

factor_data.index = factor_data.index.to_timestamp()

factor_data = factor_data.resample('M').last().div(100)

factor_data.index.name = 'date'

factor_data = factor_data.join(data['return_1m']).sort_index()

factor_data

                   Mkt-RF     SMB     HML     RMW     CMA  return_1m
date       ticker
2017-10-31 AAPL    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.096808
           ABBV    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.022728
           ABT     0.0225 -0.0194  0.0019  0.0091 -0.0326   0.021275
           ACN     0.0225 -0.0194  0.0019  0.0091 -0.0326   0.064180
           ADBE    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.174152
...                   ...     ...     ...     ...     ...        ...
2023-09-30 VZ     -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.056890
           WDAY   -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.062413
           WFC    -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.015500
           WMT    -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.000676
           XOM    -0.0524 -0.0179  0.0145  0.0185 -0.0084   0.046947

[10343 rows x 6 columns]

* Filter out stocks with less than 10 months of data.

In [39]:
observations = factor_data.groupby(level=1).size()

valid_stocks = observations[observations >= 10]

factor_data = factor_data[factor_data.index.get_level_values('ticker').isin(valid_stocks.index)]

factor_data

                   Mkt-RF     SMB     HML     RMW     CMA  return_1m
date       ticker
2017-10-31 AAPL    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.096808
           ABBV    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.022728
           ABT     0.0225 -0.0194  0.0019  0.0091 -0.0326   0.021275
           ACN     0.0225 -0.0194  0.0019  0.0091 -0.0326   0.064180
           ADBE    0.0225 -0.0194  0.0019  0.0091 -0.0326   0.174152
...                   ...     ...     ...     ...     ...        ...
2023-09-30 VZ     -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.056890
           WDAY   -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.062413
           WFC    -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.015500
           WMT    -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.000676
           XOM    -0.0524 -0.0179  0.0145  0.0185 -0.0084   0.046947

[10331 rows x 6 columns]

* Calculate Rolling Factor Betas.